GIMP/
autostart/
libfm/
java/
Thunar/
xfce4/
easyeffects/
lsp-plugins/
BraveSoftware/
Code/
git/
gtk-3.0/
htop/
pulse/
vlc/
dconf/
code-flags.conf
byobu/
QtProject.conf
nvim/plugin/
qBittorrent/
Psst/
supertuxkart/
unity3d/
lutris/
cef_user_data/
mimeapps.list
