BraveSoftware/
Code - OSS/
Code/
GIMP/
Psst/
QtProject.conf
Thunar/
autostart/
byobu/
cef_user_data/
code-flags.conf
dconf/
easyeffects/
git/
gtk-3.0/
htop/
java/
libfm/
lsp-plugins/
lutris/
mimeapps.list
mpv/
nvim/plugin/
pulse/
qBittorrent/
supertuxkart/
unity3d/
vlc/
xfce4/
bottom/
python/
xarchiver/
hypr/
paru/
gammastep/
neofetch/
