window {
  margin: 0px;
  border: 2px solid #abb2bf;
  border-radius: 0px;
  background-color: #1e2127;
  font-family: 'JetBrainsMono Nerd Font';
  font-size: 13px;
}

#input {
  margin: 5px;
  border: 1px solid #1e2127;
  border-radius: 0px;
  color: #abb2bf;
  background-color: #1e2127;
}

#input image {
  color: #abb2bf;
}

#inner-box {
  margin: 5px;
  border: none;
  border-radius: 0px;
  background-color: #1e2127;
}

#outer-box {
  margin: 5px;
  border: none;
  border-radius: 0px;
  background-color: #1e2127;
}

#scroll {
  margin: 0px;
  border: none;
  border-radius: 0px;
}

#text {
  margin: 5px;
  border: none;
  border-radius: 0px;
  color: #abb2bf;
}

#entry:selected {
  background-color: #5c6370;
  font-weight: normal;
  border-radius: 0px;
}

#text:selected {
  background-color: #5c6370;
  font-weight: normal;
}